<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
         >
<testsuites>
  <testsuite name="Unit Tests">
    <directory>tests/unit</directory>
  </testsuite>
    <testsuite name="Integration Tests">
        <directory>tests/integration</directory>
    </testsuite>
</testsuites>
</phpunit>
